 #inner-content-div{
        position: absolute;
    list-style: none;
    margin: 0px;
    padding: 0px;
    top: 5px;
    right: 5px;
    /* background-color: rgb(153, 153, 153); */
    border: 0px solid black;
    max-height: 50vh;
    max-width: 100%;
    overflow: hidden;
    width: auto;
    height: 299px;
  }
  #inner-content-div1{
        position: absolute;
    list-style: none;
    margin: 0px;
    padding: 0px;
    top: 5px;
    right: 5px;
    /* background-color: rgb(153, 153, 153); */
    border: 0px solid black;
    max-height: 50vh;
    max-width: 100%;
    overflow: hidden;
    width: auto;
    height: 299px;
  }
   #inner-content-div2{
        position: absolute;
    list-style: none;
    margin: 0px;
    padding: 0px;
    top: 5px;
    right: 5px;
    /* background-color: rgb(153, 153, 153); */
    border: 0px solid black;
    max-height: 50vh;
    max-width: 100%;
    overflow: hidden;
    width: auto;
    height: 299px;
  }
  .txt{
    text-align: end;
  }