<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>AB International School | Aurangabad</title>
      <link rel="icon" type="image/png" href="images/favicon.png"/>
      <link rel='stylesheet' href='plugins/goodlayers-core/plugins/combine/style.css' type='text/css' media='all' />
      <link rel='stylesheet' href='plugins/goodlayers-core/include/css/page-builder.css' type='text/css' media='all' />
      <link rel='stylesheet' href='plugins/revslider/public/assets/css/settings.css' type='text/css' media='all' />
      <link rel='stylesheet' href='css/style-core.css' type='text/css' media='all' />
      <link rel='stylesheet' href='css/kingster-style-custom.css' type='text/css' media='all' />
      <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
      <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />
   </head>
   <body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js kingster-body kingster-body-front kingster-full  kingster-with-sticky-navigation  kingster-blockquote-style-1 gdlr-core-link-to-lightbox">
      <div class="kingster-mobile-header-wrap">
         <div class="kingster-mobile-header kingster-header-background kingster-style-slide kingster-sticky-mobile-navigation " id="kingster-mobile-header">
            <div class="kingster-mobile-header-container kingster-container clearfix">
               <div class="kingster-logo  kingster-item-pdlr">
                  <div class="kingster-logo-inner">
                     <a class="logo" href="index.html"><img src="images/logo.png" alt="AB International School" style="width: 119px;"/></a>
                  </div>
               </div>
               <div class="kingster-mobile-menu-right">
                  <div class="kingster-mobile-menu">
                     <a class="kingster-mm-menu-button kingster-mobile-menu-button kingster-mobile-button-hamburger" href="#kingster-mobile-menu"><span></span></a>
                     <div class="kingster-mm-menu-wrap kingster-navigation-font" id="kingster-mobile-menu" data-slide="right">
                        <ul id="menu-main-navigation" class="m-menu">
                           <li class="menu-item menu-item-home current-menu-item menu-item-has-children"><a href="index.html">Home</a>
                           </li>
                           <li class="menu-item menu-item-has-children"><a href="about-us.html">About Us</a>
                           </li>
                           <li class="menu-item menu-item-has-children">
                              <a href="#">Academics</a>
                              <ul class="sub-menu">
                                 <li class="menu-item"><a href= "academics.html#div_983a_21">Pre-Primary</a></li>
                                 <li class="menu-item"><a href="academics.html#div_983a_30">Primary</a></li>
                                 <li class="menu-item"><a href="academics.html#div_983a_38">Secondary</a></li>
                              </ul>
                           </li>
                           <li class="menu-item menu-item-has-children"><a href="addmission.html">Admission</a>
                           </li>
                           <li class="menu-item menu-item-has-children"><a href="gallery.html">Activities</a>
                           </li>
                           <li class="menu-item menu-item-has-children">
                              <a href="#">Mandatory Public Disclosure</a>
                              <ul class="sub-menu">
                                 <li class="menu-item"><a href="general_Information.html">Genernal Information</a></li>
                                 <li class="menu-item"><a href="document_and_information.html">Document & Information</a></li>
                                 <li class="menu-item"><a href="result_and_academics.html">Result & Academic</a></li>
                                 <li class="menu-item"><a href="school_infrastructure.html">School Infrastructure</a></li>
                              </ul>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="kingster-body-outer-wrapper ">
      <div class="kingster-body-wrapper clearfix  kingster-with-frame">
         <div class="kingster-top-bar">
            <div class="kingster-top-bar-background"></div>
            <div class="kingster-top-bar-container kingster-container ">
               <div class="kingster-top-bar-container-inner clearfix">
                  <div class="kingster-top-bar-left kingster-item-pdlr"><span class="blink_me">AFFILIATION NO: 1130912 </span>&nbsp;&nbsp;<i class="fa fa-envelope-open-o" id="i_fd84_0"></i>abschool.pokhari@gmail.com <i class="fa fa-phone" id="i_fd84_1"></i>+91 841 196 5540 </div>
                  <div class="kingster-top-bar-right kingster-item-pdlr">
                     <!--                            <ul id="kingster-top-bar-menu" class="sf-menu kingster-top-bar-menu kingster-top-bar-right-menu">-->
                     <!--                                <li class="menu-item kingster-normal-menu"><a href="#">Alumni</a></li>-->
                     <!--                                <li class="menu-item kingster-normal-menu"><a href="#">Calendar</a></li>-->
                     <!--                                <li class="menu-item kingster-normal-menu"><a href="#">Portal</a></li>-->
                     <!--                            </ul>-->
                     <div class="kingster-top-bar-right-social"></div>
                     <a href="#contact_block" class="kingster-top-bar-right-button" href="#" target="_blank">Contact Us</a>
                  </div>
               </div>
            </div>
         </div>
         <header class="kingster-header-wrap kingster-header-style-plain  kingster-style-menu-right kingster-sticky-navigation kingster-style-fixed" data-navigation-offset="75px">
            <div class="kingster-header-background"></div>
            <div class="kingster-header-container  kingster-container">
               <div class="kingster-header-container-inner clearfix">
                  <div class="kingster-logo  kingster-item-pdlr">
                     <div class="kingster-logo-inner">
                        <a class="" href="index.html"><img src="images/logo.png" alt="" /></a>
                     </div>
                  </div>
                  <div class="kingster-navigation kingster-item-pdlr clearfix ">
                     <div class="kingster-main-menu" id="kingster-main-menu">
                        <ul id="menu-main-navigation-1" class="sf-menu">
                           <li class="menu-item menu-item-home  kingster-normal-menu"><a href="index.html" class="sf-with-ul-pre">Home</a>
                           </li>
                           <li class="menu-item menu-item-has-children kingster-normal-menu"><a href="about-us.html" class="sf-with-ul-pre">About Us</a>
                           </li>
                           <li class="menu-item menu-item-has-children kingster-normal-menu ">
                              <a href="#" class="sf-with-ul-pre">Academics</a>
                              <ul class="sub-menu">
                                 <li class="menu-item" data-size="60"><a href="academics.html#div_983a_21">Pre-Primary</a></li>
                                 <li class="menu-item" data-size="60"><a href="academics.html#div_983a_30">Primary</a></li>
                                 <li class="menu-item" data-size="60"><a href="academics.html#div_983a_38">Secondary</a></li>
                              </ul>
                           </li>
                           <li class="menu-item menu-item-has-children kingster-normal-menu"><a href="addmission.html" class="sf-with-ul-pre">Admission</a></li>
                           <li class="menu-item menu-item-has-children kingster-normal-menu"><a href="gallery.html" class="sf-with-ul-pre">Activities</a></li>
                           <li class="menu-item menu-item-has-children kingster-normal-menu current-menu-item menu-item-has-children">
                              <a href="#" class="sf-with-ul-pre">Mandatory Public Disclosure</a>
                              <ul class="sub-menu">
                                 <li class="menu-item" data-size="60"><a href="general_Information.html">Genernal Information</a></li>
                                 <li class="menu-item" data-size="60"><a href="document_and_information.html">Document & Information</a></li>
                                 <li class="menu-item" data-size="60"><a href="result_and_academics.html">Result & Academic</a></li>
                                 <li class="menu-item" data-size="60"><a href="school_infrastructure.html">School Infrastructure</a></li>
                              </ul>
                           </li>
                        </ul>
                        </li>
                        </ul>
                        <div class="kingster-navigation-slide-bar" id="kingster-navigation-slide-bar"></div>
                     </div>
                  </div>
               </div>
            </div>
         </header>

     
            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 30px 0px;">
                        <div class="gdlr-core-pbf-background-wrap"></div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                               
                                <div class="gdlr-core-pbf-column gdlr-core-column-60">
                                    <div class="kingster-page-title-container kingster-container">
               <div class="kingster-page-title-content kingster-item-pdlr" style="padding-top: 91px ;padding-bottom: 0px ;">
                  <div class="kingster-page-caption" style="font-size: 21px ;font-weight: 400 ;letter-spacing: 0px ;color: #516894 ;">DOCUMENTS AND INFORMATION::</div>
               </div>
            </div>
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 0px 0px 100px 0px;">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                         
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                    <div class="gdlr-core-text-box-item-content" style="text-transform: none ;">
                                                        <div style="overflow-x: auto;">
                                                               <table style="min-width: 835px;">
                                          <tbody>
                                             <tr>
                                                <th>SL NO.</th>
                                                <th>DOCUMENTS/INFORMATION</th>
                                                <th>UPLOAD DOCUMENTS</th>
                                             </tr>
                                             <tr>
                                                <td>1.</td>
                                                <td>COPIES OF AFFILIATION/ UPGRADATION LETTER AND RECENT EXTENSION OF AFFILIATION, IF ANY</td>
                                                <td>
                                                   <a href="#" onclick="window.open('doc/COPIES OF AFFILIATIONUPGRADATION LETTER AND RECENT EXTENSION OF AFFILIATION, IF ANY.pdf');" class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border"style="font-size: 14px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #192f59 ;"><span class="gdlr-core-content">View </span><i class="gdlr-core-pos-right fa fa-file-pdf-o" style="font-size: 14px ;"></i></a>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>2.</td>
                                                <td>COPIES OF SOCIETIES/TRUST/COMPANY REGISTRATION/RENEWAL CERTIFICATE, AS APPLICABLE</td>
                                                <td>
                                                   <a href="#" onclick="window.open('doc/SOCIETIESTRUSTCOMPANY REGISTRATIONRENEWAL CERTIFICATE, AS APP.pdf');" class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border"style="font-size: 14px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #192f59 ;"><span class="gdlr-core-content">View </span><i class="gdlr-core-pos-right fa fa-file-pdf-o" style="font-size: 14px ;"></i></a>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>3.</td>
                                                <td>COPY OF NO OBJECTION CERTIFICATE (NOC) ISSUED, IF APPLICABLE, BY THE STATE GOVT./UT</td>
                                                <td>
                                                   <a href="#" onclick="window.open('doc/COPY OF NO OBJECTION CERTIFICATE (NOC) ISSUED, IF APPLICABLE, BY THE STATE GOVT.UT.pdf');" class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border"style="font-size: 14px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #192f59 ;"><span class="gdlr-core-content">View </span><i class="gdlr-core-pos-right fa fa-file-pdf-o" style="font-size: 14px ;"></i></a>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>4.</td>
                                                <td>COPIES OF RECOGNITION CERTIFICATE UNDER RTE ACT, 2009, AND IT’S RENEWAL IF APPLICABLE</td>
                                                <td>
                                                   <a href="#" onclick="window.open('doc/COPIES OF RECOGNITION CERTIFICATE UNDER RTE ACT, 2009, AND IT’S RENEWAL IF APPLICABLE (2).pdf');" class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border"style="font-size: 14px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #192f59 ;"><span class="gdlr-core-content">View </span><i class="gdlr-core-pos-right fa fa-file-pdf-o" style="font-size: 14px ;"></i></a>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>5.</td>
                                                <td>COPY OF VALID BUILDING SAFETY CERTIFICATE AS PER THE NATIONAL BUILDING CODE</td>
                                                <td>
                                                   <a href="#" onclick="window.open('doc/BUILDING.pdf');" class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border"style="font-size: 14px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #192f59 ;"><span class="gdlr-core-content">View </span><i class="gdlr-core-pos-right fa fa-file-pdf-o" style="font-size: 14px ;"></i></a>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>6.</td>
                                                <td>COPY OF VALID FIRE SAFETY CERTIFICATE ISSUED BY THE COMPETENT AUTHORITY</td>
                                                <td>
                                                   <a href="#" onclick="window.open('doc/COPY OF VALID FIRE SAFETY CERTIFICATE ISSUED BY THE COMPETENT AUTHORITY.pdf');" class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border"style="font-size: 14px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #192f59 ;"><span class="gdlr-core-content">View </span><i class="gdlr-core-pos-right fa fa-file-pdf-o" style="font-size: 14px ;"></i></a>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>7.</td>
                                                <td>COPY OF THE DEO CERTIFICATE SUBMITTED BY THE SCHOOL FOR AFFILIATION/UPGRADATION/<br>EXTENSION OF AFFILIATION OR SELF CERTIFICATION BY SCHOOL</td>
                                                <td>
                                                   <a href="#" onclick="window.open('doc/DEO.pdf');" class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border"style="font-size: 14px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #192f59 ;"><span class="gdlr-core-content">View </span><i class="gdlr-core-pos-right fa fa-file-pdf-o" style="font-size: 14px ;"></i></a>
                                                </td>
                                             </tr>
                                             <tr>
                                                <td>8.</td>
                                                <td>COPIES OF VALID WATER, HEALTH AND SANITATION CERTIFICATES</td>
                                                <td>
                                                   <a href="#" onclick="window.open('doc/COPIES OF VALID WATER, HEALTH AND SANITATION CERTIFICATES.pdf');" class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border"style="font-size: 14px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #192f59 ;"><span class="gdlr-core-content">View </span><i class="gdlr-core-pos-right fa fa-file-pdf-o" style="font-size: 14px ;"></i></a>
                                                </td>
                                             </tr>
                                          </tbody>
                                       </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
             
                 
                </div>
            </div>


                  <footer>
               <div class="kingster-footer-wrapper ">
                  <div class="kingster-footer-container kingster-container clearfix">
                     <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                        <div id="text-2" class="widget widget_text kingster-widget">
                           <div class="textwidget">
                              <p><img src="images/logo.png" alt="" />
                                 <br /> <span class="gdlr-core-space-shortcode" id="span_1dd7_10"></span>
                                 <br /> A.B. International Primary Secondary & Higher Secondary English School.
                              </p>
                              <div class="gdlr-core-icon-list-item gdlr-core-item-pdlr gdlr-core-item-pdb clearfix "
                                 style="padding-left: 0px;padding-right: 0px;">
                                 <ul>
                                    <li class=" gdlr-core-skin-divider gdlr-core-with-hover">
                                       <span class="gdlr-core-icon-list-icon-wrap"><i class="gdlr-core-icon-list-icon-hover fa fa-envelope-o" style="font-size: 16px ;"></i><i class="gdlr-core-icon-list-icon fa fa-envelope-o" style="font-size: 16px ;width: 16px ;"></i></span>
                                       <div class="gdlr-core-icon-list-content-wrap"><span class="gdlr-core-icon-list-content" style="font-size: 16px ;">abschool.pokhari@gmail.com </span></div>
                                    </li>
                                    <li class=" gdlr-core-skin-divider gdlr-core-with-hover">
                                       <span class="gdlr-core-icon-list-icon-wrap"><i class="gdlr-core-icon-list-icon-hover fa fa-phone" style="font-size: 16px ;"></i><i class="gdlr-core-icon-list-icon fa fa-phone" style="font-size: 16px ;width: 16px ;"></i></span>
                                       <div class="gdlr-core-icon-list-content-wrap"><span class="gdlr-core-icon-list-content" style="font-size: 16px ;">+91 841 196 5540 </span></div>

                                    </li>
                                    <li class=" gdlr-core-skin-divider gdlr-core-with-hover">
                                       <span class="gdlr-core-icon-list-icon-wrap"><i class="gdlr-core-icon-list-icon-hover fa fa-phone" style="font-size: 16px ;"></i><i class="gdlr-core-icon-list-icon fa fa-phone" style="font-size: 16px ;width: 16px ;"></i></span>
                                       <div class="gdlr-core-icon-list-content-wrap"><span class="gdlr-core-icon-list-content" style="font-size: 16px ;">+91 902 111 2020</span></div>
                                    </li>
                                 </ul>
                              </div>
                              <!-- <p><span id="span_1dd7_11">9021112020</span>
                                 <br /> <span class="gdlr-core-space-shortcode" id="span_1dd7_12"></span>
                                 <br /> <a id="a_1dd7_8" href="mailto:admin@kingsteruni.edu">abschool.pokhari@gmail.com </a>
                                 </p> -->
                              <!--  <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-left-align">
                                 <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_1dd7_111"></div>
                                 </div> -->
                           </div>
                        </div>
                     </div>
                     <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                        <div id="gdlr-core-custom-menu-widget-2" class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                           <h3 class="kingster-widget-title">Quick Links</h3>
                           <span class="clear"></span>
                           <div class="menu-our-campus-container">
                              <ul id="menu-our-campus" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                                 <li class="menu-item"><a href="about-us.html">About Us</a></li>
                                 <li class="menu-item"><a href="academics.html">Academics</a></li>
                                 <li class="menu-item"><a href="addmission.html">Admission</a></li>
                                 <li class="menu-item"><a href="gallery.html">Activities</a></li>
                                 <li class="menu-item"><a href="document_and_information.html">Mandatory Public Disclosure</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                        <div id="gdlr-core-custom-menu-widget-3" class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                           <h3 class="kingster-widget-title">Quick Links</h3>
                           <span class="clear"></span>
                           <div class="menu-campus-life-container">
                              <ul id="menu-campus-life" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                                 <li class="menu-item"><a href="addmission.html">Fee Policy</a></li>
                                 <li class="menu-item"><a href="general_Information.html">Genernal Informations</a></li>
                                 <li class="menu-item"><a href="result_and_academics.html">Result & Academic</a></li>
                                 <li class="menu-item"><a href="addmission.html">Registrations </a></li>
                                 <li class="menu-item"><a href="document_and_information.html">Document & Info</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                        <div id="gdlr-core-custom-menu-widget-4" class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                           <h3 class="kingster-widget-title">Address</h3>
                           <span class="clear"></span>
                           <div class="menu-academics-container">
                              <p> Gut No 107, Sawangi-Chikalthana Bypass, Near Pissadevi,<br> Mou.Pokhari,Aurangabad.<br>Maharashtra-431008. </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="kingster-copyright-wrapper">
                  <div class="kingster-copyright-container kingster-container clearfix">
                     <div class="kingster-copyright-left kingster-item-pdlr">    &#169All Right Reserved 2021 AB International School</div>
                     <div class="kingster-copyright-right kingster-item-pdlr">
                        <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" id="div_1dd7_112">
                           <p>Development by : <a href="https://aplswd.com/"> aPLS Web Development</a></p>
                        </div>
                     </div>
                  </div>
               </div>
            </footer>
        </div>
    </div>


   <script type='text/javascript' src='js/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='plugins/goodlayers-core/plugins/combine/script.js'></script>
    <script type='text/javascript'>
        var gdlr_core_pbf = {
            "admin": "",
            "video": {
                "width": "640",
                "height": "360"
            },
            "ajax_url": "#"
        };
    </script>
    <script type='text/javascript' src='plugins/goodlayers-core/include/js/page-builder.js'></script>
    <script type='text/javascript' src='js/jquery/ui/effect.min.js'></script>
    <script type='text/javascript'>
        var kingster_script_core = {
            "home_url": "index.html"
        };
    </script>
    <script type='text/javascript' src='js/plugins.min.js'></script>
</body>

</html>